h3
{
	color: white;
	font-family: "Century Gothic";
	font-size: 16pt;
}
/*End of h3 rule*/

 ol
{
	color:white;
	font-family: "Berlin Sans FB";
	font-size: 12pt;
}
/*End of ol rule*/

body
{
	background-image: url("Images/old.jpg");
	background-size: cover;
}
/*End of body rule*/

ul
{
	color:white;
	font-family: "Century Gothic";
	font-weight: bold;
	margin: 4%;
	padding: 3%;
}
/*End of ul rule*/


/*Beginning of Navigation Bar code*/
u.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*End of u.center rule*/

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
/*End of ul rule*/

li 
{
  float: left;
}
/*End of li rule*/

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*End of li a rule*/

li a:hover:not(.active)
{
  background-color: #111;
}
/*End of li a:hover:not(.active) rule*/

.active
{
  background-color: #4CAF50;
}
/*End of .active rule*/

/* End code for navigation bar*/
